
.personalInfoBox {
	padding-bottom: 30px !important; 
	padding-top: 30px !important;
}


.contact a {
	color: black;
	transition: 0.5s;
}

.contact a:hover{
	color: #0a07c2;
	text-decoration:none;
}

.contactMethods {

}

.contactIcon {
	font-size: 30px;
	display:block;
	margin-top: -15px;
	margin-bottom: -10px;
	position: relative;
}


.contactText {
	margin-left: 8px;
	font-size: 0.62em;
	vertical-align: 5px;
}


.avatarImg {
	width: 150px;
	height : 150px;
	border-radius: 10px;
}

.avatarImgSmall {
	width: 100px;
	display:block;
	margin:auto;
	border-radius: 15px;
	margin-bottom:15px;
}


.title div {
	float: left;
    clear: none; 
}

.wrapper {
  text-align: center;
}
.title {
  display: inline-block;
  margin-bottom: -10px;
}

#avatarDiv {
	margin-right:50px;
}

#textDiv {
	margin-top:20px;
}



