/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
  background: #373a47;
  transition: 0.5s;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
	background: #0a07c2;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
	height: 24px;
	width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
	background: #0a07c2;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
	position: fixed;
	height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
	background: #ffffff;
  font-size: 1.15em;
    padding: 1.5em 1.5em 0;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.5);
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
	fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
	color: #373737;
	padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
  display: inline-block;
  color: #373737;
  text-decoration: none;
  }

  .bm-item:hover {
    color: #0a07c2;
    transition: 0.5s;
    text-decoration: none;
    }
  
  /* Styling of overlay */
  .bm-overlay {
	background: rgba(0, 0, 0, 0.3);
  }